.wrapper {
    border-radius: 0 8px 8px 0;

    &_active {
        background: var(--blue-6, #228BE6);
    }

    &__link {

        &:hover {
            background-color: transparent;
        }
    }


    &__svg {
        cursor: pointer;

        &:active {
            scale: 1.1;
        }
    }
}