.input {
    border-bottom: 1px solid #5C5F66;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.button {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    background-color: #228BE608;
}